.footer {
	color: $grey-100;
	line-height: 1.1;

	&__top {
		position: relative;
		@include adaptive-value-base('padding-top', 51, 40, 1);
		@include adaptive-value-base('padding-bottom', 57, 40, 1);
		z-index: 2;

		&::before {
			@include mq(sm) {
				position: absolute;
				top: 17px;
				left: 46px;
				width: 100%;
				max-width: 729px;
				height: 500px;
				background-image: radial-gradient(
					42.77% 34.3% at 51.78% 48.53%,
					rgba(255, 167, 67, 0.13) 0%,
					rgba(255, 164, 61, 0) 100%
				);
				border-radius: 729px;
				content: '';
				z-index: -1;
			}
		}
	}

	&__wrapper {
		display: flex;
		gap: 40px;
		justify-content: space-between;
		padding-right: 33px;

		@include mq(xl) {
			padding-right: 0;
		}

		@include mq(lg) {
			flex-direction: column;
			gap: 42px;
		}
	}

	&__info {
		width: 100%;
		max-width: 290px;

		@include mq(lg) {
			max-width: 100%;
		}
	}

	&__logo {
		margin-bottom: 14px;
	}

	&__text {
		color: $grey-500;
		font-size: 12px;
		line-height: 1.4;
	}

	&__content,
	&__menu {
		display: flex;
		gap: 120px;

		@include mq(xl) {
			gap: 40px;
		}

		@include mq(sm) {
			flex-direction: column;
		}
	}

	&__content {
		justify-content: flex-end;
		width: 100%;
		max-width: 640px;

		@include mq(lg) {
			justify-content: flex-start;
			max-width: 100%;
		}
	}

	&__menu {
		@include mq(sm) {
			gap: 28px;
		}
	}

	&__items,
	&__connect {
		display: flex;
		flex-direction: column;
	}

	&__items {
		@include adaptive-value-base('gap', 22, 14, 1);
	}

	&__connect {
		@include adaptive-value-base('gap', 17, 14, 1);
	}

	&__bottom {
		background-color: $dark-750;
		@include adaptive-value-base('padding-top', 21, 16, 1);
		@include adaptive-value-base('padding-bottom', 21, 16, 1);
		@include adaptive-value-base('font-size', 14, 12, 1);
	}

	&__bottom-box {
		flex-wrap: wrap;
		@include adaptive-value-base('gap', 24, 8, 1);
		@include flex-center-sb;
	}
}
