.socials {
	display: flex;
	gap: 9px;

	&__link {
		display: inline-block;
		width: 30px;
		height: 30px;
		@include bg-contain;
		transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
		@include focus-animation;

		@media (any-hover: hover) {
			&:hover {
				transform: scale(1.1);
			}
		}

		&:active {
			transform: scale(0.9);
		}
	}
}
