node_modules
/.vscode
/.git
app
# /.src/js/_templates.js
_templates.js
_libs.js
_project.js
_swiper.js
_vendor.js
_template.js
_dynamic-adaptive.js
_utility.js
_animation.js
_tippy.js
_spollers.js
_show-more.js
_dataMediaQueries.js
_parallax-mouse.js