<article class="product-card product-card--@type">

    <div class="product-card__image">
        @if(type === "expertise") {
        <picture>
            <source srcset="img/expertises/@img.avif" type="image/avif">
            <source srcset="img/expertises/@img.webp" type="image/webp">
            <img class="product-card__img" src="img/expertises/@img.jpg" alt="@alt" width="287" height="180" loading="lazy">
        </picture>
        }
        @if(type === "case") {
        <picture>
            <source srcset="img/cases/@img.avif" type="image/avif">
            <source srcset="img/cases/@img.webp" type="image/webp">
            <img class="product-card__img" src="img/cases/@img.jpg" alt="@alt" width="380" height="165" loading="lazy">
        </picture>
        }
    </div>

    <div class="product-card__inner">
        <div class="product-card__body">
            @if(type === "case") {
            <span class="product-card__code">@code</span>
            }
            <h3 class="product-card__title subtitle">@title</h3>
            @if(type === "expertise") {
            <div class="product-card__text">
                @text
            </div>
            }
        </div>

        <div class="product-card__footer">
            <span class="product-card__price">@price</span>
            <button class="product-card__button" data-graph-path="connect-modal" type="button">
                @if(type === "case") {Заказать подобную}
                @if(type === "expertise") {Заказать}
            </button>
        </div>
    </div>
</article>