<header class="header">
    <div class="container">
        <nav class="header__wrapper">
            <a class="header__logo logo" href="#">
                <img class="logo__img" src="img/logo.svg" alt="логотип" width="106" height="34" loading="lazy">
            </a>
            <ul class="header__menu burger-menu" data-menu>
                <li class="burger-menu__item">
                    <a class="burger-menu__link" href="#" data-goto="#expertises" data-menu-link>
                        Экспертизы
                    </a>
                </li>
                <li class="burger-menu__item">
                    <a class="burger-menu__link" href="#" data-goto="#advantages" data-menu-link>
                        Как мы работаем
                    </a>
                </li>
                <li class="burger-menu__item">
                    <a class="burger-menu__link" href="#" data-goto="#about" data-menu-link>
                        О компании
                    </a>
                </li>
                <li class="burger-menu__item">
                    <a class="burger-menu__link" href="#" data-goto="#reviews" data-menu-link>
                        Отзывы
                    </a>
                </li>
                <li class="burger-menu__item">
                    <a class="burger-menu__link" href="#" data-menu-link>
                        Вакансии
                    </a>
                </li>
                <li class="burger-menu__item">
                    <a class="burger-menu__link" href="#" data-goto="#contacts" data-menu-link>
                        Контакты
                    </a>
                </li>
            </ul>
            <button class="header__connect button" data-graph-path="connect-modal" type="button">
                Связаться
            </button>
            <button class="burger-button" aria-label="Открыть меню" aria-expanded="false" data-burger>
                <span class="burger-button__line"></span>
            </button>
        </nav>
    </div>
</header>