body {
	color: $grey-500;
	font-weight: $fw-400;
	font-size: 16px;
	font-family: $montserrat, Arial, sans-serif;
	line-height: 1.6;
	background-color: $dark-700;
}

.container {
	width: 100%;
	max-width: 1256px;
	margin: 0 auto;
	padding: 0 20px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow: hidden;
}

.main {
	flex: 1 1 auto;
}

.lock {
	overflow: hidden;
}

.button {
	@include flex-all-center;
	position: relative;
	padding: 14px 24px;
	color: $grey-100;
	font-size: 15px;
	line-height: 1.1;
	border: 1px solid $yellow-400;
	@include custom-border;
}

.title {
	@include adaptive-value-base('font-size', 48, 32, 1);
	@include adaptive-value-base('margin-bottom', 40, 24, 1);
	color: $yellow-400;
	font-weight: $fw-500;
	font-family: $playfair;
	line-height: 1.1;
}

.subtitle {
	color: $grey-100;
	font-weight: $fw-600;
	line-height: 1.1;
	@include adaptive-value-base('font-size', 18, 16, 1);
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: 1px;
	padding: 0;
	overflow: hidden;
	white-space: nowrap;
	border: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
}

.disable-scroll {
	position: relative;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.logo {
	display: inline-block;
	width: 100%;
	max-width: 106px;
	height: 34px;

	&__img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

.swiper-slide {
	box-sizing: border-box;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background-color: rgba($dark-800, 0.4);
	opacity: 0;

	&--active {
		z-index: 4;
		opacity: 1;
	}
}
