/* stylelint-disable */

// * colors
$white: #ffffff;
$black: #000000;

$grey-100: #fcfcfc;
$grey-200: #f2f4f5;
$grey-500: #aaaaaa;

$dark-800: #222222;
$dark-750: #212c3a;
$dark-700: #263345;
$dark-600: #294647;

$yellow-400: #f3c469;

$blue-600: #244a71;

// * fonts
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-800: 800;
$fw-900: 900;

$montserrat: 'Montserrat';
$playfair: 'PlayfairDisplay';
