.graph-modal {
	--transition-time: 0.3s;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1000;
	overflow-x: hidden;
	overflow-y: auto;
	text-align: center;
	background-color: rgba($dark-800, 0.4);
	visibility: hidden;
	cursor: pointer;
	opacity: 0;
	transition: opacity var(--transition-time), visibility var(--transition-time);

	&::before {
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		content: '';
	}

	&__container {
		position: relative;
		display: inline-block;
		display: none;
		width: 100%;
		max-width: 804px;
		margin: 50px auto;
		@include adaptive-value-base('padding-bottom', 108, 32, 1);
		@include adaptive-value-base('padding-top', 108, 32, 1);
		@include adaptive-value-base('padding-left', 32, 16, 1);
		@include adaptive-value-base('padding-right', 32, 16, 1);
		text-align: left;
		vertical-align: middle;
		background-color: $white;
		cursor: default;

		@media (max-width: 1024px) {
			width: 90%;
		}
	}

	&__close {
		position: absolute;
		top: 0;
		right: 0;
		width: 40px;
		height: 40px;
		background-color: transparent;
		background-image: url('../img/icons/close.svg');
	}

	.form {
		&__button {
			color: $dark-700;

			&::before {
				z-index: 1;
			}
		}
	}
}

.graph-modal.is-open {
	visibility: visible;
	opacity: 1;
	transition: opacity var(--transition-time), visibility var(--transition-time);
}

.graph-modal__container.graph-modal-open {
	display: inline-block;
}

.fade {
	opacity: 0;
}

.fade,
.fade.animate-open {
	transition: opacity var(--transition-time);
}

.fade.animate-open {
	opacity: 1;
}

.fadeInUp {
	transform: translateY(-100px);
	opacity: 0;
}

.fadeInUp,
.fadeInUp.animate-open {
	transition: transform var(--transition-time), opacity var(--transition-time);
}

.fadeInUp.animate-open {
	transform: translateY(0);
	opacity: 1;
}
