.header {
	@include adaptive-value-base('padding-top', 28, 16, 1);
	@include adaptive-value-base('padding-bottom', 28, 16, 1);
	position: relative;
	top: 0;
	right: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	background-color: $dark-700;
	transition: transform 0.35s ease-out;

	&::before {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 2;
		width: 100%;
		height: 1px;
		background-color: rgba($yellow-600, 0.5);
		content: '';
	}

	&--fixed {
		position: fixed;
		// animation: slideDown 0.35s ease-out;
		transform: translateY(0);
	}

	&--hide {
		position: fixed;
		transform: translateY(-100%);
	}

	&--active {
		z-index: unset;
	}

	&__wrapper {
		display: flex;
		align-items: center;
	}

	&__logo {
		flex-basis: 134px;
		flex-shrink: 0;
		@include adaptive-value-master('margin-right', 100, 20, 1250, 950, 1);
	}

	&__menu {
		@include adaptive-value-master('margin-right', 158, 20, 1250, 950, 1);

		@include mq(lg) {
			position: fixed;
			top: 0;
			right: 0;
			width: 100%;
			max-width: 270px;
			margin-right: 0 !important;
			padding: 40px 24px;
			overflow: hidden;
			background-color: $yellow-400;
			transform: translateX(100%);
			visibility: hidden;
			transition: transform 0.5s;
			@include flex-column-v-start;
		}
	}

	&__connect {
		margin-left: auto;
		@include mq(lg) {
			display: none;
		}
	}

	.burger-button {
		z-index: 50;
		margin-left: auto;
		@include burger;
		@include focus-animation;

		@media (any-hover: hover) {
			&:hover {
				color: $white;
			}
		}

		&:active {
			transform: scale(0.95);
		}

		@include mq(lg, min) {
			display: none;
		}
	}
}

@keyframes slideDown {
	from {
		transform: translateY(-100%);
	}
	to {
		transform: translateY(0);
	}
}
