.review-card {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	max-width: 938px;
	margin: 0 auto;
	padding: 0 24px;

	&__content {
		position: relative;
		@include adaptive-value-base('padding-left', 124, 60, 1);

		@include mq(md) {
			padding-left: 0;
		}
	}

	&__header {
		margin-bottom: 10px;

		@include mq(md) {
			display: flex;
			gap: 8px;
			align-items: center;
			margin-bottom: 21px;
		}
	}

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		@include adaptive-value-base('width', 100, 50, 1);
		@include adaptive-value-base('height', 100, 50, 1);

		@include mq(md) {
			position: static;
			width: 50px;
			height: 50px;
		}
	}

	&__subtitle {
		@include adaptive-value-base('font-size', 14, 12, 1);
		color: $yellow-400;
	}

	&__body {
		width: 100%;
		max-width: 767px;
	}

	&__title {
		@include adaptive-value-base('font-size', 24, 16, 1);
		@include adaptive-value-base('margin-bottom', 14, 8, 1);
	}

	&__text {
		@include adaptive-value-base('font-size', 16, 12, 1);
		@include adaptive-value-base('margin-bottom', 20, 18, 1);
		line-height: 1.4;

		p {
			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
	}

	&__author {
		@include adaptive-value-base('font-size', 16, 12, 1);
		display: block;
		text-align: right;
	}
}
