.about {
	@include adaptive-value-base('padding-top', 97, 80, 1);

	&__wrapper {
		position: relative;
		display: flex;
		gap: 40px;
		justify-content: space-between;

		&::before {
			@include mq(lg, min) {
				position: absolute;
				top: percent(484, 1435);
				left: percent(195, 2088);
				z-index: -1;
				width: 2088px;
				height: 1435px;
				background-image: radial-gradient(
					45.1% 44.38% at 51.78% 48.53%,
					rgba(255, 167, 67, 0.28) 0%,
					rgba(134, 134, 134, 0) 100%
				);
				border-radius: 2088px;
				transform: translate(-14%, -50%);
				opacity: 70%;
				content: '';
			}
		}

		@include mq(xl, min) {
			padding-right: 40px;
		}

		@include mq(lg) {
			flex-direction: column-reverse;
			gap: 34px;
			justify-content: flex-start;
		}
	}

	&__inner {
		width: 100%;

		@include mq(lg, min) {
			max-width: 600px;
		}
	}

	&__text {
		p {
			&:not(:last-child) {
				@include adaptive-value-base('margin-bottom', 30, 28, 1);
			}
		}
	}

	&__slider {
		display: flex;
		width: 100%;
		max-width: 416px;
		height: 452px;
		padding: 4px 0;
		overflow: hidden;
		transform: translateY(-36px);
		@include adaptive-value-base('gap', 20, 14, 1);

		@include mq(lg) {
			transform: translateY(0);
		}

		@include mq(sm) {
			height: 362px;
		}

		picture {
			display: inline-block;
			width: 100%;
			height: 100%;
		}
	}

	&__image {
		position: relative;
		border: 1px solid $yellow-400;
		@include custom-border;
	}

	&__main {
		width: 100%;
		max-width: 332px;
		height: 100%;
		padding: 26px;
		overflow: hidden;

		@include mq(sm) {
			max-width: 266px;
			padding: 20px;
		}
	}

	&__small {
		width: 100%;
		max-width: 64px;

		@include mq(xs) {
			display: none;
		}
	}

	&__thumb {
		width: 100%;
		padding: 4px;
		border: 1px solid $yellow-400;
		cursor: pointer;
		opacity: 0.3;
		transition: opacity 0.3s ease-in-out;

		@media (any-hover: hover) {
			&:hover {
				opacity: 0.6;
			}
		}
	}

	.swiper-slide-thumb-active {
		opacity: 1;
	}

	&__img {
		height: 100%;
		object-fit: contain;
	}
}
