.advantages {
	@include adaptive-value-base('padding-top', 80, 35, 1);
	padding-bottom: 63px;

	@include mq(md) {
		padding-bottom: 79px;
	}

	&__container {
		@include mq(lg) {
			padding-right: 0;
		}
	}

	&__items {
		padding-bottom: 25px;
	}

	.simplebar-content {
		display: flex;
		gap: 24px;
		justify-content: space-between;
	}

	.simplebar-vertical {
		display: none;
	}

	&__item {
		max-width: 220px;
		color: $grey-100;
		line-height: 1.2;
		text-align: center;
		@include flex-column-v-center;
	}

	&__icon {
		width: 50px;
		height: 50px;
		@include bg-contain;
		margin-bottom: 16px;
	}
}
