.cases {
	@include adaptive-value-base('padding-top', 150, 80, 1);

	&__items {
		padding-bottom: 30px;
	}

	&__item {
		width: calc(33% - 15px);

		@include mq(md) {
			width: calc(50% - 15px);
		}

		@include mq(sm) {
			min-width: 335px;
			width: 100%;
		}
	}

	.simplebar-content {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;

		@include mq(lg) {
			flex-wrap: nowrap;
		}

		&::before {
			display: none;
		}
	}
}
