.cases {
	&__title {
		@include adaptive-value-base('margin-bottom', 36, 14, 1);
	}

	&__items {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		padding-bottom: 30px;

		@include mq(lg) {
			flex-wrap: nowrap;
			padding-top: 4px;
			overflow-x: auto;
		}
	}

	&__item {
		flex-basis: calc(33% - 15px);
		flex-shrink: 0;

		@include mq(md) {
			flex-basis: 50%;
		}

		@include mq(sm) {
			flex-basis: 100%;
		}
	}
}
