.connection {
	padding-top: 102px;
	@include adaptive-value-base('padding-bottom', 150, 100, 1);

	@include mq(sm) {
		padding-top: 110px;
	}

	&--modal {
		padding: 0;

		@include mq(sm) {
			padding: 0;
		}

		.connection__title {
			color: $dark-700;
			font-weight: $fw-500;
		}
	}

	&__wrapper {
		width: 100%;
		max-width: 664px;
		margin: 0 auto;
		text-align: center;

		@include mq(md) {
			max-width: 100%;
		}
	}

	&__title {
		@include adaptive-value-base('margin-bottom', 46, 18, 1);
	}

	&__subtext {
		line-height: 1.4;
		@include adaptive-value-base('margin-bottom', 40, 32, 1);
	}
}
