.expertises {
	&__container {
		@include mq(lg) {
			padding-right: 0;
		}
	}

	&__title {
		@include adaptive-value-base('margin-bottom', 40, 20, 1);
	}

	&__wrapper {
		padding-bottom: 30px;
	}

	&__filters {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		margin-bottom: 40px;

		@include mq(lg) {
			flex-wrap: nowrap;
			white-space: nowrap;
		}
	}

	&__button {
		color: $grey-100;
		border-color: transparent;
		@include adaptive-value-base('font-size', 14, 12, 1);
		@include adaptive-value-base('padding-top', 12, 8, 1);
		@include adaptive-value-base('padding-bottom', 12, 8, 1);
		@include adaptive-value-base('padding-right', 12, 10, 1);
		@include adaptive-value-base('padding-left', 12, 10, 1);

		&::before {
			border-color: transparent;
		}

		&--active {
			border-color: $yellow-400;

			&::before {
				border-color: $yellow-400;
			}
		}
	}

	&__items {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;

		@include mq(lg) {
			flex-wrap: nowrap;
		}
	}

	&__item {
		width: calc(25% - 15px);

		@include mq(lg) {
			width: 100%;
			min-width: 158px;
		}
	}

	.simplebar-content-wrapper {
		height: 100% !important;
		overflow-y: visible !important;
	}

	.simplebar-content {
		padding-top: 4px !important;
	}
}
