.expertises {
	&__title {
		@include adaptive-value-base('margin-bottom', 40, 20, 1);
	}

	&__filters {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		margin-bottom: 20px;
		padding: 4px 0 20px;

		@include mq(lg) {
			flex-wrap: nowrap;
			overflow-x: auto;
			white-space: nowrap;
		}
	}

	&__button {
		position: relative;
		color: $grey-100;
		line-height: 1.1;
		border: 1px solid transparent;
		border-color: transparent;
		@include custom-border;
		transition: box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out,
			color 0.3s ease-in-out, opacity 0.3s ease-in-out;
		@include adaptive-value-base('font-size', 14, 12, 1);
		@include adaptive-value-base('padding-top', 12, 8, 1);
		@include adaptive-value-base('padding-bottom', 12, 8, 1);
		@include adaptive-value-base('padding-right', 12, 10, 1);
		@include adaptive-value-base('padding-left', 12, 10, 1);

		&::before {
			transition: width 0.3s ease-in-out, height 0.3s ease-in-out,
				top 0.3s ease-in-out, left 0.3s ease-in-out, opacity 0.3s ease-in-out,
				border-color 0.3s ease-in-out;
		}

		&:focus-visible {
			border-color: $white;
			outline: 0;

			&::before {
				opacity: 0;
			}
		}

		@media (any-hover: hover) {
			&:hover {
				color: $yellow-400;
			}
		}

		&:active {
			opacity: 0.7;
		}
	}

	.mixitup-control-active {
		.expertises__button {
			border-color: $yellow-400;

			&::before {
				border-color: $yellow-400;
			}
		}
	}

	&__items {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
	}

	&__item {
		width: calc(25% - 15px);

		@include mq(xl) {
			width: calc(33.33% - 15px);
		}

		@include mq(md) {
			width: calc(50% - 10px);
		}

		@include mq(sm) {
			width: 100%;
		}
	}
}
