:root {
	--my-variable: initial;
}

.hero {
	&--active {
		padding-top: var(--my-variable);
	}

	&__swiper {
		position: relative;

		&::after {
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 2;
			width: 100%;
			height: 1px;
			background-color: rgba($yellow-600, 0.5);
			content: '';
		}
	}

	&__item {
		@include adaptive-value-base('min-height', 642, 582, 1);
		position: relative;
		z-index: 2;
		display: flex;
		align-items: center;
		padding: 64px 0;
		background-color: $dark-700;
		@include bg-cover;

		@include mq(md) {
			align-items: flex-start;
		}

		&--custom {
			background-position: bottom right;
			background-size: auto;

			@include mq(lg) {
				background-size: 150%;
			}

			@include mq(sm) {
				background-size: 195%;
			}

			.hero__button {
				@include mq(lg) {
					background-color: $dark-750;
				}
			}
		}

		&::before,
		&::after {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			width: 100%;
			height: 100%;
			content: '';
		}

		&::before {
			background-color: rgba($black, 0.2);
		}

		&::after {
			background-image: radial-gradient(
				266.39% 111.33% at 100% 0%,
				rgba(197, 156, 156, 0.2) 0%,
				rgba(26, 27, 14, 0) 100%
			);
		}
	}

	&__decor {
		@include mq(lg) {
			position: absolute;
			top: -4%;
			left: 36%;
			z-index: 1;
			width: 100%;
			max-width: 272px;
			height: 150px;
			background-color: $dark-750;
			border-radius: 277px;
			filter: blur(20px);
		}

		@include mq(md) {
			top: 8%;
			max-width: 200px;
			height: 200px;
		}

		@include mq(sm) {
			top: 13%;
			left: 14%;
		}
	}

	&__container {
		position: relative;
		z-index: 2;
	}

	&__content {
		width: 100%;
		max-width: 510px;
		transform: translateY(-43px);

		@include mq(md) {
			max-width: 100%;
			transform: translateY(0);
		}
	}

	&__title {
		margin-bottom: 30px;
		line-height: 1;
	}

	&__text {
		@include adaptive-value-base('margin-bottom', 46, 33, 1);
		color: $grey-100;

		p {
			&:not(:last-child) {
				margin-bottom: 8px;
			}
		}
	}
}
