.reviews {
	@include adaptive-value-base('padding-top', 150, 80, 1);
	@include adaptive-value-base('padding-bottom', 150, 112, 1);

	&__title {
		@include adaptive-value-base('margin-bottom', 42, 24, 1);
	}

	&__wrapper {
		position: relative;

		@include mq(md) {
			padding-bottom: 24px;
		}
	}

	&__swiper {
		position: static;
		display: flex;
		align-items: center;
		height: 100%;
		min-height: 504px;
		padding: 25px 0;
		border: 1px solid $yellow-400;
		@include custom-border;

		&::before {
			@include mq(md) {
				height: calc(100% + 6px - 24px);
			}
		}

		@include mq(md) {
			min-height: auto;
		}
	}

	.swiper-horizontal > .swiper-pagination-bullets {
		bottom: 26px;
		justify-content: center;

		@include mq(md) {
			bottom: -24px;
		}
	}
}
