@mixin burger {
	$burger-width: 48px;
	$burger-height: 26px;
	$burger-line-height: 2px;

	position: relative;
	width: $burger-width;
	height: $burger-height;
	color: $yellow-400;

	&::before,
	&::after {
		position: absolute;
		left: 0;
		width: 100%;
		height: $burger-line-height;
		background-color: currentColor;
		transition: transform 0.3s ease-in-out, top 0.3s ease-in-out,
			width 0.3s ease-in-out, background-color 0.3s ease-in-out;
		content: '';
	}

	&::before {
		top: 0;
	}

	&::after {
		top: calc(100% - $burger-line-height);
	}

	&__line {
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		height: $burger-line-height;
		background-color: currentColor;
		transform: translateY(-50%);
		transition: transform 0.3s ease-in-out;
	}

	&--active {
		position: absolute;
		top: 0;
		right: 0;
		height: 40px;

		&::before,
		&::after {
			top: 50%;
			width: 20px;
			background-color: $dark-700;
			transition: transform 0.3s ease-in-out, top 0.3s ease-in-out,
				width 0.3s ease-in-out, background-color 0.3s ease-in-out;
		}

		&::before {
			transform: rotate(45deg) translateX(16px) translateY(-10px);
		}

		&::after {
			transform: rotate(-45deg) translateX(10px) translateY(15px);
		}

		.burger-button__line {
			transform: scale(0);
			transition: transform 0.3s ease-in-out;
		}
	}
}
