@mixin custom-border {
	&::before {
		position: absolute;
		top: -3px;
		left: 2px;
		width: calc(100% - 4px);
		height: calc(100% + 6px);
		border: inherit;
		content: '';
	}
}

@mixin link-animation {
	position: relative;
	transition: opacity 0.3s ease-in-out, color 0.3s ease-in-out;

	&:focus-visible {
		outline: 0;
		box-shadow: 0 0 0 1px $white;
	}

	@media (any-hover: hover) {
		&::after {
			position: absolute;
			right: 0;
			bottom: -2px;
			left: 0;
			height: 1px;
			background-color: $yellow-400;
			transform: scaleX(0);
			transform-origin: 0 50%;
			transition: transform 0.4s ease-out;
			content: '';
		}

		&:hover {
			color: $yellow-400;

			&::after {
				transform: scaleX(1);
			}
		}
	}

	&:active {
		opacity: 0.8;
	}
}

@mixin focus-animation {
	&:focus-visible {
		border-color: $white;
		outline: 0;
	}
}
